<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-list>
      <ion-item lines="none" *ngFor="let item of [1,2,3,4,5]" (click)="detailNews()">
        <ion-label text-wrap>
          <h3>Akbar Tadjung: Dukungan Saya ke Jokowi atas Nama Pribadi, Tapi Berpengaruh</h3>
          <p>5 Jam yang lalu</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>