<ion-header>
  <ion-toolbar>
    <!-- <ion-title>detail-search</ion-title> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-searchbar animated slot="end"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="scrollX" nowrap>
      <ion-col style="min-width: 100px;" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <!-- <ion-thumbnail slot="start" class="image-thumbnail">
          <img src="/assets/berita3.jpeg">
        </ion-thumbnail>
        <ion-label text-wrap>
          <h3>Akbar Tadjung</h3>
          <p>12 Jam yang lalu</p>
        </ion-label> -->
        <img src="/assets/berita3.jpeg">
        <ion-label text-wrap>
          <h3>Akbar Tadjung</h3>
          <p>12 Jam yang lalu</p>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>