<ion-header>
  <ion-toolbar>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col style="text-align: center;" *ngFor="let category of categories">
        <!-- JUST ADD A col-4 attribute -->
        <img [src]="category.image" class="image-container" />
        <ion-label class="image-label">{{category.name}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>