<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bookmark</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item lines="none" *ngFor="let item of [1,2,3,4,5]" (click)="detailNews()">
      <ion-thumbnail slot="start" class="image-thumbnail">
        <img src="/assets/berita3.jpeg">
      </ion-thumbnail>
      <ion-label text-wrap>
        <h3>Akbar Tadjung: Dukungan Saya ke Jokowi atas Nama Pribadi, Tapi Berpengaruh</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>