<ion-header>
  <ion-toolbar>
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="video-card" *ngFor="let item of [1,2,3,4,5,6,7]">
    <!-- <ion-img src="/assets/berita2.jpeg"></ion-img> -->
    <ion-card-header>
      <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source src="/assets/tes_video.mp4" />
      </video>
      <ion-card-subtitle color="dark">Lewat #BhayPlastik, Telkomsel Ajak Warga Lampung Bijak Pakai Plastik</ion-card-subtitle>
      <p>Rabu, 6 Februari 2019</p>
    </ion-card-header>
  </ion-card>
</ion-content>