<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input required></ion-input>
  </ion-item>
  <div class="login-button">
    <ion-button class="full-width" (click)="login()">
      Login
    </ion-button>
  </div>
</ion-content>