<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Setting</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label class="profile-label">Email Bantuan</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="profile-label">Ulas Aplikasi Ini</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="profile-label">Notifikasi</ion-label>
      <ion-toggle color="primary" checked></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label class="profile-label">Tentang</ion-label>
    </ion-item>
  </ion-list>
  <div class="logout-button" *ngIf="isLogin">
    <ion-button class="full-width" (click)="logout()">
      Logout
    </ion-button>
  </div>
</ion-content>