<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="category">
      <ion-icon name="grid"></ion-icon>
      <ion-label>Kategori</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="video">
      <ion-icon name="play-circle"></ion-icon>
      <ion-label>Video</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>