<!-- <ion-app>
  <ion-menu side="end">
    <ion-header>
      <ion-toolbar>
        <ion-img src="/assets/logo-kabar.png" class="logo"></ion-img>
        <ion-icon name="close" slot="end" size="large" (click)="closeMenu()"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="none">Terbaru</ion-item>
        <ion-item lines="none">Berita Utama</ion-item>
        <ion-item lines="none">Most Popular</ion-item>
        <ion-item lines="none">Most Commented</ion-item>
        <ion-item lines="none">Lifestyle</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app> -->

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>