<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="settingPage()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
      <ion-button class="bookmark-icon" (click)="bookmarkPage()">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button class="notif-icon" (click)="notifPage()">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge color="danger" class="badge-icon">10</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-avatar text-center>
    <img [src]="isLogin ?'/assets/berita1.jpeg' : '/assets/person.png'">
  </ion-avatar>
  <div class="profile-name" *ngIf="isLogin">
    <ion-label>
      abimeiiku@gmail.com
    </ion-label>
  </div>

  <ion-list *ngIf="isLogin">
    <ion-item>
      <ion-label class="profile-label">Name</ion-label>
      <ion-label class="profile-label" slot="end">Abi Tulkhah</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="profile-label">Address</ion-label>
      <ion-label class="profile-label" slot="end">Tangerang Kota</ion-label>
    </ion-item>
    <ion-item>
      <ion-label class="profile-label">Phone</ion-label>
      <ion-label class="profile-label" slot="end">081807857056</ion-label>
    </ion-item>
  </ion-list>
  <div class="login-button" (click)="loginPage()" *ngIf="!isLogin">
    <ion-button>
      Login
    </ion-button>
  </div>
  <div class="register" *ngIf="!isLogin">
    <ion-label>
      <p class="bold-text">Belum punya akun ?</p><span (click)="signUpPage()"><u>Daftar Disini</u></span>
    </ion-label>
  </div>
</ion-content>