ion-avatar {
    margin: auto;
}

.profile-name {
    text-align: center;
    margin: 10px;
}

.profile-label {
    font-size: 14px;
}

.bookmark-icon {
    position: absolute;
    right: 40px;
}

.notif-icon {
    position: absolute;
    right: 10px;
}

.badge-icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 8px;
}

.login-button {
    text-align: center;
    margin-top: 10px;

    .full-width {
        width: 100%
    }
}

.register {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;

    .bold-text {
        font-weight: bold;
    }
}