<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail News</ion-title>
    <ion-buttons class="right-icon">
      <!-- <ion-button (click)="fontSetting()">
        <ion-icon slot="icon-only" name="paper"></ion-icon>
      </ion-button> -->
      <ion-button (click)="shareNews()">
        <ion-icon slot="icon-only" name="share"></ion-icon>
      </ion-button>
      <ion-button (click)="bookmarkNews()">
        <ion-icon slot="icon-only" name="star-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="/assets/berita1.jpeg" class="image-detail-news"></ion-img>
  <h3 margin-start>Teller bawa kabur uang nasabah</h3>
  <p class="news-title">
    <span>Abi Tulkhah - Kabar XXI</span><br>
    <span>Jumat, 22 Februari 2019 11:19 WIB</span>
  </p>
  <div class="news-content">
    <p>Lampung -
      Banyaknya kantong plastik yang menimbun di sekitar permukiman rumah warga yang tentunya berdampak dalam
      menimbulkan berbagai penyakit. Salah satunya DBD akibat genangan air dari timbunan sampah plastik dan botol
      yang tak di daur ulang.

      Bukan hanya itu, sampah di lautan telah membahayakan lebih dari 800 spesies yang 40% di antaranya adalah
      mamalia laut dan 44% spesies burung laut. Hal tersebut berdasarkan penelitian yang diterbitkan Sekretariat
      Konvensi tentang Keanekaragaman Hayati pada 2016.

      Untuk mengatasi masalah plastik ini, berbagai pihak pun turun tangan membuat gerakan untuk mengurangi
      penggunaan plastik. Salah satunya adalah gerakan #BhayPlastik yang diinisiaisi oleh Telkomsel.

      Melalui gerakan ini, Telkomsel mengajak masyarakat untuk menunjukkan komitmen dan memberikan aksi nyata demi
      mengurangi penggunaan plastik sekaligus mengurangi sampah plastik. Gerakan sosial yang diadakan sejak Desember
      2018 ini bertujuan untuk menyebarkan kesadaran lingkungan, khususnya agar masyarakat dapat lebih bijak dalam
      menggunakan plastik.

      Melalui tagar #BhayPlastik di media sosial, Telkomsel mengajak sebanyak-banyaknya orang untuk turut ambil
      bagian dengan membagikan pengalaman dalam melakukan gerakan mengurangi pemakaian sampah.

      "Kami percaya bahwa perubahan yang besar dapat dimulai dari sebuah aksi yang sederhana. Melalui #BhayPlastik,
      Telkomsel ingin memberikan perubahan besar bagi lingkungan dengan mengajak semua orang untuk mulai mengubah
      kebiasaan sehari-hari dalam penggunaan plastik," ungkap Manager Loop Brand & Communications yang juga sebagai
      lead project dari #Bhayplastik, Diko Julian dalam keterangan tertulis.

      Lewat #BhayPlastik, Telkomsel Ajak Warga Lampung Bijak Pakai PlastikManager Loop Brand and Communications, Diko
      Julian, dan Manager Branch Telkomsel Lampung, Asep Jalaluddin, serta tim Telkomsel, saat pembukaan gerakan
      #Bhayplastik di Kota Lampung (Foto: dok. Telkomsel)
      Semua orang dapat berpartisipasi dengan melakukan aksi sederhana seperti mendaur ulang plastik bekas menjadi
      barang bermanfaat, mengganti penggunaan plastik sekali pakai seperti gelas/botol, tas, dan sedotan plastik
      dengan tumbler, tote bag, stainless straw, dan lain-lain.

      Untuk mengajak lebih banyak lagi masyarakat yang terlibat dalam gerakan sosial #BhayPlastik, Telkomsel juga
      menggelar roadshow bertajuk 'Join The Movement, #BhayPlastik' di 11 kota yang tersebar di seluruh Indonesia,
      salah satunya ada Kota Lampung. Melalui roadshow #BhayPlastik yang diadakan di Lapangan TSO, Minggu (3/2) juga
      melibatkan masyarakat dan beberapa komunitas-komunitas pencinta lingkungan di Lampung.

      Pada acara ini, puluhan peserta dari berbagai komunitas tersebut mengikuti berbagai kegiatan seperti Trash Run,
      yakni lari santai atau fun run yang dilakukan sembari mengambil sampah di sepanjang jalur lari. Aktivitas ini
      bertujuan untuk memberikan contoh kepada masyarakat sekitar bahwa semua orang bisa berkontribusi dalam gerakan
      peduli lingkungan dalam berbagai aktivitas yang dilakukan.

      Lewat #BhayPlastik, Telkomsel Ajak Warga Lampung Bijak Pakai PlastikPemasangan gelang simbolis sebagai bukti
      yang mendukung gerakan #bhayplastik bersama Telkomsel. (Foto: dok. Telkomsel)
      Selain itu, ada juga Plastalk yang merupakan kegiatan edukasi mengenai bahaya sampah plastik dan cara mengubah
      plastik bekas menjadi karya yang berguna dan bernilai ekonomis. Hot Bottles Recycle Company pun hadir untuk
      memberikan edukasi sekaligus mini workshop kepada peserta dengan mengubah botol-botol yang telah dikumpulkan
      saat Trash Run menjadi karya seni miniatur sepeda motor.

      Acara ini ditutup dengan kegiatan Plastic Police yaitu peserta ikut memberikan tote bag gratis kepada konsumen
      yang datang ke convenience store untuk digunakan sebagai pengganti kantong plastik belanja.

      Sebelumnya, roadshow #BhayPlastik telah singgah di Bogor, Medan, Serang, Manado, Semarang, Cirebon, Malang, dan
      Lampung. Selanjutnya, roadshow #BhayPlastik akan digelar di Balikpapan, Pekanbaru, dan Makassar.

      Untuk mendapatkan informasi terkini tentang kegiatan sosial #BhayPlastik, cukup mem-follow Instagram @Telkomsel
      dan mengunjungi situs resminya di sini. Jangan lupa juga untuk post aksimu dengan tagar #BhayPlastik dan follow
      @Telkomsel di media sosialmu. Yuk, mulai berpartisipasi dalam mengurangi sampah plastik!</p>
  </div>
  <ion-label class="bold-label" padding>Tags:</ion-label>
  <div padding>
    <ion-button class="tags" fill="outline" *ngFor="let tags of newsTag">{{tags}}</ion-button>
  </div>
  <div text-center padding>
    <ion-label padding>Berikan Reaksi dan komentar untuk artikel ini</ion-label>
  </div>
  <div text-center class="reaction">
    <ion-button shape="round" class="button-reaction" (click)="reactionNews()">Pilih Reaksi</ion-button>
    <ion-button shape="round" class="button-comment" (click)="commentNews()">Komentar</ion-button>
  </div>
  <ion-label class="bold-label" padding>Berita Terkait</ion-label>
  <ion-list padding-end>
    <ion-item *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
      <ion-label text-wrap>
        <h3>Akbar Tadjung: Dukungan Saya ke Jokowi atas Nama Pribadi, Tapi Berpengaruh</h3>
        <p>12 Jam yang lalu</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-label margin>Baca Juga</ion-label>
  <ion-grid>
    <ion-row class="scrollX" nowrap>
      <ion-col style="min-width: 100px;" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <img src="/assets/berita3.jpeg">
        <ion-label text-wrap>
          <h3>Akbar Tanjung Belanja ke warung bersama istri</h3>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="commentNews()">
    <ion-fab-button class="button-comment">
      <ion-icon name="text"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>