// ion-toolbar {
//     --background: transparent;
//     --ion-color-base: transparent !important;
// }
h3 {
    font-weight: bold;
}

.tags {
    margin: 5px;
    text-transform: none;
    color: #4d4da5;
    --border-color: #e0dbdb;
    --border-width: 0.5px;
}

.bold-label {
    font-weight: bold;
}

.scrollX {
    overflow-x: scroll;
    overflow-y: hidden;
}

.right-icon {
    position: absolute;
    float: right;
    right: 0;
    top: 16px;
}

.detail-news-card {
    margin: 0;
}

.reaction {
    margin-bottom: 15px;
}

.button-reaction {
    --background: blue;
}

.button-comment {
    --background: black;
}

.image-detail-news {
    margin-bottom: 10px;
}

.news-title {
    font-size: 12px;
    color: grey;
    margin-left: 16px;
}

.news-content {
    margin: 16px;
}

.happy-emoticon {
    ion-icon {
        color: rebeccapurple;
    }
}