.home-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.image-thumbnail {
    width: 100px;
    height: 100px;
}

ion-label {
    text-transform: none;
}

.fix-menu {
    float: right;
    right: 5px;
    top: 122px;
    position: absolute;
}

ion-searchbar {
    padding: 10px;
}

.search-icon {
    position: absolute;
    float: right;
    right: 0;
    top: 16px;
}

.swipe-area {
    height: 100%;
    width: 100%;
}

.image-thumbnail {
    width: 110px;
    height: 110px;
}

.scrollX {
    overflow-x: scroll;
    overflow-y: hidden;
}

ion-label {
    text-transform: none;
}

.title {
    position: absolute;
    top: 3px;
    margin-right: 10px;
}

.views-news {
    margin: 0;
    bottom: 7px;
}

.views-count {
    position: absolute;
    color: #b3b3b3;
    font-size: 12px;
    margin-left: 19px;
    bottom: 12px;
}

.eye-icon {
    position: absolute;
    bottom: 12px;
    color: #b3b3b3;
}

.star-icon {
    position: absolute;
    right: 20px;
    bottom: 5px;
    color: #b3b3b3;
}

.count-comment-label {
    max-width: 85px;
    text-align: center;
}

.count-comment {
    color: blue;
}