<ion-header>
  <ion-img src="/assets/logo-kabar.png" class="logo" margin>
  </ion-img>
  <ion-buttons class="search-icon">
    <ion-button (click)="detailSearch()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-segment scrollable [(ngModel)]="category">
      <ion-segment-button value="newest" checked>
        <ion-label>Terbaru</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mainNews">
        <ion-label>Berita Utama</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mostPopular">
        <ion-label>Most Popular</ion-label>
      </ion-segment-button>
      <ion-segment-button value="mostCommented">
        <ion-label>Most Commented</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lifeStyle">
        <ion-label>Lifestyle</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="category" class="swipe-area">
    <div *ngSwitchCase="'newest'">
      <ion-card class="home-card" (click)="detailNews()">
        <ion-img src="/assets/berita2.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle color="dark">Lewat #BhayPlastik, Telkomsel Ajak Warga Lampung Bijak Pakai Plastik</ion-card-subtitle>
          <p>Rabu, 6 Februari 2019</p>
        </ion-card-header>
      </ion-card>
      <ion-list>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5]">
          <ion-thumbnail slot="start" class="image-thumbnail" (click)="detailNews()">
            <img src="/assets/berita3.jpeg">
          </ion-thumbnail>
          <div>
            <ion-label class="title" text-wrap (click)="detailNews()">
              <h3>Akbar Tanjung: Dukungan Saya ke Jokowi atas Nama Pribadi, Tapi Berpengaruh</h3>
              <p>12 Jam yang lalu</p>
            </ion-label>
            <div class="views-news">
              <ion-icon class="eye-icon" name="eye"></ion-icon>
              <span class="views-count">123 dilihat</span>
              <ion-buttons class="star-icon">
                <ion-button>
                  <ion-icon slot="icon-only" name="star-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-label margin>Berita Daerah</ion-label>
      <ion-grid>
        <ion-row class="scrollX" nowrap>
          <ion-col (click)="detailNews()" style="min-width: 100px;" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
            <img src="/assets/berita3.jpeg">
            <ion-label text-wrap>
              <h3>Akbar Tanjung Belanja ke warung bersama istri</h3>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'mainNews'">
      <ion-card class="home-card" (click)="detailNews()" *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
        <ion-img src="/assets/berita2.jpeg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle color="dark">Lewat #BhayPlastik, Telkomsel Ajak Warga Lampung Bijak Pakai Plastik</ion-card-subtitle>
          <p>Rabu, 6 Februari 2019</p>
        </ion-card-header>
      </ion-card>
    </div>

    <div *ngSwitchCase="'mostPopular'">
      <ion-list>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5]" (click)="detailNews()">
          <ion-thumbnail slot="start" class="image-thumbnail">
            <img src="/assets/berita3.jpeg">
          </ion-thumbnail>
          <ion-label text-wrap>
            <h3>Akbar Tadjung: Dukungan Saya ke Jokowi atas Nama Pribadi, Tapi Berpengaruh</h3>
            <p>12 Jam yang lalu</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'mostCommented'">
      <ion-list>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5]" (click)="detailNews()">
          <ion-label class="count-comment-label">
            <h2 class="count-comment">
              122
            </h2>
            <p>
              Komentar
            </p>
          </ion-label>
          <ion-label text-wrap>
            <h3>Akbar Tadjung: Dukungan Saya ke Jokowi atas Nama Pribadi, Tapi Berpengaruh</h3>
            <p>Jumat, 23 Februari 2019</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'lifeStyle'">
      <ion-list>
        <ion-item lines="none" *ngFor="let item of [1,2,3,4,5]" (click)="detailNews()">
          <ion-thumbnail slot="start" class="image-thumbnail">
            <img src="/assets/berita3.jpeg">
          </ion-thumbnail>
          <ion-label text-wrap>
            <h3>Akbar Tadjung: Dukungan Saya ke Jokowi atas Nama Pribadi, Tapi Berpengaruh</h3>
            <p>12 Jam yang lalu</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>