<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Komentar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="list-comment">
    <ion-item lines="none" *ngFor="let item of [1,2,3,4,5,8,9,10,11,12,13,14]">
      <ion-avatar text-center>
        <img src="/assets/berita3.jpeg">
      </ion-avatar>
      <ion-label text-wrap>
        <h3>Abi {{item}}</h3>
        <p>Apapun yang terjadi tetap sabar dan tabah</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item class="comment-input">
    <ion-label position="floating" margin>Komentar</ion-label>
    <ion-input bottom></ion-input>
  </ion-item>
</ion-content>